@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PDIS</h1>    
</div>
<div class="row">
    <div class="col-md-12 mb-2">
        <p>
            Web Application to manage all Personnel Data of Employees.
        </p>
        <p>
            Manage All Employee Details, Salary Details.
        </p>
    </div>
</div>
