@model PDIS.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1 class="display-4 font-text">Edit Employee Details</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeID" />
            <input type="hidden" asp-for="ExtName" />
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label"></label>
                <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostID" class="control-label"></label>
                <select asp-for="PostID" class="form-control" asp-items="ViewBag.PostID"></select>
                <span asp-validation-for="PostID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input readonly asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasicSalary" class="control-label"></label>
                <input readonly asp-for="BasicSalary" class="form-control" />
                <span asp-validation-for="BasicSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JoiningDate" class="control-label"></label>
                <input asp-for="JoiningDate" class="form-control" />
                <span asp-validation-for="JoiningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-outline-dark"><i class="fa fa-paper-plane"></i> Save Details</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
