@model PDIS.Models.Allowance

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1 class="display-4 font-text">Add New Allowance</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShortName" class="control-label"></label>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllowanceName" class="control-label"></label>
                <input asp-for="AllowanceName" class="form-control" />
                <span asp-validation-for="AllowanceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Percentage" class="control-label"></label>
                <input asp-for="Percentage" class="form-control" />
                <span asp-validation-for="Percentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-outline-dark"><i class="fa fa-paper-plane"></i> Save Details</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
